.wrapper {
    max-height: min((100vh - 96px) - 60px, 734px);
    width: 100%;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    min-height: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
